div#board { 
	width: 800px;
	height: 800px;
	margin: 20px auto;
	border: 2px solid #000000;
}

div#board div.row { 
	height: 100px;
	width: 800px;
	margin: 0;
}

div#board div.row div.square {
	height: 100px;
	width: 100px;
	float: left;
}

div#board div.row div.square.black { 
	background-color: #777777;
}

div#board div.row div.square.white { 
	background-color: #ffffff;
}

div#board div.row div.square span { 
	display: block;
	width: 100%;
	height: 100%;
	font-size: 90px;
	text-align: center;
	line-height: 90px;
	cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
}