<script src="/socket.io/socket.io.js"></script>
<script>
	// connect to the server
	// leaving the argument blank allows it to auto detect where to connect
	var socket = io.connect();

	// when we've connected, initialize board with game
	socket.on("connected", function(game) {
		console.log(game);
	});
</script>